<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>LEGO</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  

  
  <!-- DB 연결 정보 설정 -->
  <resource-ref>
  	<description>lego</description>
  	<res-ref-name>jdbc/lego</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  
  <!-- MVC 주소 매핑 -->
  <!-- 회원 관리 -->
  <servlet>
  	<servlet-name>UserFrontController</servlet-name>
  	<servlet-class>net.user.action.UserFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserFrontController</servlet-name>
  	<url-pattern>*.us</url-pattern>
  </servlet-mapping>
  
  <!-- 상품 관리 -->
  
  <!-- 장바구니 관리 -->
  
  <!-- 주문 관리 -->
  
  
</web-app>

